{
  "extends": ["react-app", "react-app/jest", "eslint:recommended", "plugin:jest/recommended", "plugin:jest/style"],
  "plugins": ["react-hooks", "jest"],
  "rules": {
    "react-hooks/rules-of-hooks": "error", // Перевіряє правила хуків
    "react-hooks/exhaustive-deps": "warn", // Перевіряє ефект залежностей
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn"]
  },
  "globals": {
    "React": true,
    "jsdom": true,
    "JSX": true
  }
}
