{
  "printWidth": 120,
  "tabWidth": 1,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid"
}
