.product-cell {
    display: flex;
    align-items: center;
    justify-content: left;
    img {
        margin-right: 30px;
    }
}

.total-cell:last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 60px;
    color: #242628;
}

.ant-form-item-label label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #777777;
}

.cart-form-btn {
    width: 130px;
    background: #2faf6d;
    border: none;
    &:hover, &:focus {
        background: #45c784;
    }
 }

 .cart-buttons {
     display: flex;
     justify-content: end;
    &-update {
        width: 130px;
        height: 40px;
        margin-right: 10px;
    }
    &-continue {
        background: #2faf6d;
        height: 40px;
        border: none;
        &:hover, &:focus {
            background: #45c784;
        }  
    }
 }

 .cart-coupon {
    margin-bottom: -2px;
     p {
         font: 14px 'Roboto', sans-serif;
         margin: 15px;
     }
 }

