@import 'src/variables.scss';
.button-group {
    width: 32px;
    position: absolute;
    top: 6px;
    right: -32px;
    transition: right .3s ease-out;
    &-btn {
        margin: 3px 0;
        background: $primary-green;
        border: none;
    }
    &-btn:hover, &-btn:focus {
        background: #45c784;
    }
}

.item-card {
    overflow: hidden;
}
.item-card:hover {
    
    .button-group {
        right: 6px;
    }
}
.card-title {
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0;
}

.card-description {
    color: $primary-green;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
}