@import 'src/variables.scss';

.navigation {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 5px  15px rgba(219, 219, 219, 0.5);
  .container {
    display: flex;
    justify-content: space-between;
    height: 64px;
  }

  .logo {
    color: $primary-green;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    span {
      font-weight: 400;
      color: #000;
    }
  }
  .menu {
    background-color: #fff;
    a:active,
    a:focus {
      background-color: #fff;
    }
  }

  .link {
    text-transform: uppercase;
    color: #000;

    &:hover {
      color: $primary-green;
    }
    &:active,
    &:focus {
      background-color: #fff;
    }
  }

  .linkActive {
    color: $primary-green;
  }

  .icon {
    color: #000;
    font-size: 20px;
  }
}
