.best-selers-wrap {
    padding: 100px 0 60px 0;
}

.description-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    &-title {
        margin: 0;
        font-size: 30px;
    }
    &-subtitle {
        color: #2faf6d;
        font: italic 14px 'Source Serif Pro', serif;
    }
    &-text {
        font-size: 14;
        font-weight: 500;
    }
}
