.best-selers-wrap {
    padding: 100px 0 60px 0;
}

.description-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-title {
        margin: 0;
        font-weight: bold;
    }
    &-subtitle {
        color: #6ac998;
        font-style: italic;
    }
}
