@import 'src/variables.scss';

.footer-content {
    margin-top: 40px;
    width: 300px;
    margin: 0 auto;
  }

.footer {
  .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
  }

  .link {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: color 300ms ease-in-out;
    white-space: nowrap;

    &:hover {
      color: $primary-green;
    }
  }

  &-right-content {
    
    .link-wrapper {
      display: flex;
      white-space: nowrap;
      margin-bottom: 20px;
      .icon {
        display: flex;
        align-items: flex-start;
      }
      .link {
        margin-left: 10px;
        color: $primary-dark;
        text-decoration: none;
        margin-bottom: 10px;
      }
    }

    
  }
}

.footer-line {
  background-color: #000;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: auto;
  
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px 50px;
    color: white;
    justify-content: space-between;
    max-width: 1740px;
    margin: 0 auto;
  }

  .additional-info {
    margin: 0;
  }

}